@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "CreateReview";
}

@*<h2 style="text-align:center;">CreateReview</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <script>
        function createReview(x,reviewId) {
            ApplicationUserId = $("#userId").val()
            PostTitle = $("#title").val();
            PostBody = $("#body").val();
            RestaurantOrPalce = $("#choices-restaurent").val();

            var Food = $("input:radio[name=food]:checked").val()
            var Service = $("input:radio[name=service]:checked").val()
            var Environment = $("input:radio[name=environment]:checked").val()
            var Cleanliness = $("input:radio[name=cleanliness]:checked").val()

            var Items = [];
            $("#choices-item option").each(function () {
                Items.push({ "Id": parseInt(this.value) })
            });
            console.log(Items);
            var Tags = [];
            $("#choices option").each(function () {
                Tags.push({ "Id": parseInt(this.value), "Name": this.textContent })
            });
            console.log(Tags);
            if ($("#offered").is(":checked")) {
                IsOfferOrPlanned = true;
            }
            else {
                IsOfferOrPlanned = false;
            }
            if ($("#recom").is(":checked")) {
                IsRecommended = true;
            }
            else {
                IsRecommended = false;
            }
            var stars = {
                Cleanliness: Cleanliness,
                Environment: Environment,
                Food: Food,
                Service: Service
            }
            var updateReview = {
                Id: parseInt(reviewId),
                RestaurantOrPlaceId: parseInt(RestaurantOrPalce),
                ApplicationUserId: String(ApplicationUserId),
                FoodOrTravel: 1,
                IsOfferOrPlanned: IsOfferOrPlanned,
                IsRecommended: IsRecommended,
                Items: Items,
                PostBody: PostBody,
                PostTitle: PostTitle,
                Stars: stars,
                Tags: Tags
            }

            var review = {
                RestaurantOrPlaceId: parseInt(RestaurantOrPalce),
                ApplicationUserId: String(ApplicationUserId),
                FoodOrTravel: 1,
                IsOfferOrPlanned: IsOfferOrPlanned,
                IsRecommended: IsRecommended,
                Items: Items,
                PostBody: PostBody,
                PostTitle: PostTitle,
                Stars: stars,
                Tags: Tags
            };
            updateUrl = "/api/Review/UpdatePost/" + String(reviewId);
           // updateUrl = "http://reviewbhai.somee.com/api/Review/UpdatePost/" + String(reviewId);
            console.log(review)
            if (x.id == "createPost") {
                $.ajax({
                    url: "/api/Review/PostReviewPost",
                    //url: "http://reviewbhai.somee.com/api/Review/PostReviewPost",
                    type: "POST",
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer '
                            + sessionStorage.getItem("accessToken")
                    },
                    data: JSON.stringify(review),
                    dataType: "Json",
                    success: function (response) {
                        console.log("response")
                    },
                });
            }
            else if (x.id == "updatePost") {
                $.ajax({
                    url: updateUrl,
                    type: "PUT",
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer '
                            + sessionStorage.getItem("accessToken")
                    },
                    data: JSON.stringify(updateReview),
                    dataType: "Json",
                    success: function (response) {
                        console.log("response")
                    },
                });
            }
        }
    </script>

    


        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" id="userId" name="custId" value=@User.Identity.GetUserId()>

                <div data-validate="Name is reauired">
                    <span>Restaurent</span>
                    <select id="choices-restaurent" class="select form-control" name="restaurent" multiple required></select>
                </div>

                <div data-validate="Name is reauired">
                    <span>Title</span>
                    <input id="title" class="textinput textInput form-control" type="text" name="title" maxlength="100" autofocus="" placeholder="Type your Name" required>
                </div>

                <div data-validate="Name is reauired">
                    <span>Review Body</span>
                    <textarea id="body" class="textarea form-control" name="body" cols="40" rows="10" placeholder="Type your Name" required></textarea>
                </div>
                <div>
                    <span>Items</span>
                    <select id="choices-item" placeholder="Select upto 5 tags" name="items" multiple required></select>
                    <span>Tags</span>
                    <select id="choices" placeholder="Select upto 5 tags" name="tags" multiple></select>
                </div>

                <div class="form-control" style="border: 0;">
                    <table>
                        <tr>
                            <td>Food:</td>
                            <td style="padding:8px 0px 0px 0px">
                                <div class="rating">
                                    <input type="radio" id="food1" name="food" value="5" /><label class="full" for="food1" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="food2" name="food" value="4.5" /><label class="half" for="food2" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="food3" name="food" value="4" /><label class="full" for="food3" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="food4" name="food" value="3.5" /><label class="half" for="food4" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="food5" name="food" value="3" /><label class="full" for="food5" title="Meh - 3 stars"></label>
                                    <input type="radio" id="food6" name="food" value="2.5" /><label class="half" for="food6" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="food7" name="food" value="2" /><label class="full" for="food7" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="food8" name="food" value="1.5" /><label class="half" for="food8" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="food9" name="food" value="1" /><label class="full" for="food9" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="food10" name="food" value="half" /><label class="half" for="food10" title="Sucks big time - 0.5 stars"></label>

                                </div>
                            </td>

                            <td>Environment:</td>
                            <td style="padding:8px 0px 0px 0px">
                                <div class="rating">
                                    <input type="radio" id="environment1" name="environment" value="5" /><label class="full" for="environment1" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="environment2" name="environment" value="4.5" /><label class="half" for="environment2" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="environment3" name="environment" value="4" /><label class="full" for="environment3" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="environment4" name="environment" value="3.5" /><label class="half" for="environment4" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="environment5" name="environment" value="3" /><label class="full" for="environment5" title="Meh - 3 stars"></label>
                                    <input type="radio" id="environment6" name="environment" value="2.5" /><label class="half" for="environment6" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="environment7" name="environment" value="2" /><label class="full" for="environment7" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="environment8" name="environment" value="1.5" /><label class="half" for="environment8" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="environment9" name="environment" value="1" /><label class="full" for="environment9" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="environment10" name="environment" value="half" /><label class="half" for="environment10" title="Sucks big time - 0.5 stars"></label>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-control" style="border: 0;">
                    <table>
                        <tr>
                            <td>Service:</td>
                            <td style="padding:8px 0px 0px 0px">
                                <div class="rating">
                                    <input type="radio" id="service1" name="service" value="5" /><label class="full" for="service1" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="service2" name="service" value="4.5" /><label class="half" for="service2" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="service3" name="service" value="4" /><label class="full" for="service3" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="service4" name="service" value="3.5" /><label class="half" for="service4" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="service5" name="service" value="3" /><label class="full" for="service5" title="Meh - 3 stars"></label>
                                    <input type="radio" id="service6" name="service" value="2.5" /><label class="half" for="service6" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="service7" name="service" value="2" /><label class="full" for="service7" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="service8" name="service" value="1.5" /><label class="half" for="service8" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="service9" name="service" value="1" /><label class="full" for="service9" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="service10" name="service" value="half" /><label class="half" for="service10" title="Sucks big time - 0.5 stars"></label>

                                </div>
                            </td>

                            <td>Cleanliness:</td>
                            <td style="padding:8px 0px 0px 0px">
                                <div class="rating">
                                    <input type="radio" id="star5" name="cleanliness" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="cleanliness" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="cleanliness" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="cleanliness" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="cleanliness" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="cleanliness" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="cleanliness" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="cleanliness" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="cleanliness" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="cleanliness" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                </div>
                            </td>

                        </tr>
                        <tr></tr>
                    </table>
                </div>

                <br>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="offered">
                    <label class="form-check-label" for="offered">Offered Food</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="recom">
                    <label class="form-check-label" for="recom">Recommended</label>
                </div>

            </form>
        </div>
    


    <script src="~/Scripts/jquery-3.5.1.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = "/user/signin";
                //window.location.href = "http://reviewbhai.somee.com/user/signin";
            }
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });
            $('#errorModal').on('hidden.bs.modal', function () {
                window.location.href = "Login.html";
            });
            $.ajax({
                url: '/api/Tag',
                //url: 'http://reviewbhai.somee.com/api/Tag',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },
                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {
                        var tagOption = ('<option value=' + value.Id + '>' + value.Name + '</option>');
                        console.log(value.Name);
                        $('#choices').append(tagOption);
                    });
                    var multipleCancelButton = new Choices('#choices', {
                        removeItemButton: true,
                        maxItemCount: 5,
                        searchResultLimit: 5,
                        renderChoiceLimit: 5
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });
            $.ajax({
                url: '/api/Item',
                //url: 'http://reviewbhai.somee.com/api/Item',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },
                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {
                        var tagOption = ('<option value=' + value.Id + '>' + value.Name + '</option>');
                        console.log(value.Name);
                        $('#choices-item').append(tagOption);
                    });
                    var multipleCancelButton = new Choices('#choices-item', {
                        removeItemButton: true,
                        maxItemCount: 5,
                        searchResultLimit: 5,
                        renderChoiceLimit: 5
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });
            $.ajax({
                url: '/api/RestaurantOrPlace',
                // url: 'http://reviewbhai.somee.com/api/RestaurantOrPlace',
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },
                success: function (data) {
                    console.log(data);
                    maindata = data;
                    $.each(data, function (index, value) {
                        var tagOption = ('<option value=' + value.Id + '>' + value.ApplicationUser.Name + '</option>');
                        console.log(value.ApplicationUser.Name);
                        console.log(value.Id);
                        $('#choices-restaurent').append(tagOption);
                    });
                    var multipleCancelButton = new Choices('#choices-restaurent', {
                        removeItemButton: true,
                        maxItemCount: 1,
                        searchResultLimit: 5,
                        renderChoiceLimit: 10
                    });
                },
                error: function (jQXHR) {
                    if (jQXHR.status == "401") {
                        $('#errorModal').modal('show');
                    }
                    else {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                }
            });
            $("#submit").click(function (e) {
                createReview();
                e.preventDefault();
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

}