
<div style="padding-top:15px">
    <div style="padding-right:12px" id="preview"></div>
    <input style="padding-top:15px" id="file-input" type="file" multiple>

</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        function previewImages() {

            var preview = document.querySelector('#preview');
            if (this.files) {
                [].forEach.call(this.files, readAndPreview);

            }
            function readAndPreview(file) {
                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    return alert(file.name + " is not an image");
                }
                var reader = new FileReader();
                reader.addEventListener("load", function () {
                    var image = new Image();
                    image.height = 100;
                    image.title = file.name;
                    image.src = this.result;
                    preview.appendChild(image);
                });
                reader.readAsDataURL(file);
            }


            var files = $("#file-input")[0].files;
            if (files.length > 0) {
                var formData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    formData.append(files[i].name, files[i]);
                }
            }



            $.ajax({
                url: '/api/Review/PostImages',
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'Authorization': 'Bearer '
                        + sessionStorage.getItem("accessToken")
                },
                success: function (url) {
                    console.log(url);
                    alert("Image uploaded successfully");
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });


        }
        document.querySelector('#file-input').addEventListener("change", previewImages);
    });

</script>





