@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/profile/profileLayout.css" rel="stylesheet" />


<div>
    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <div class="row">
                <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">                                  
                                    <a href="#" id="profilePhoto">
                                        <div id="profilePhoto">
                                           
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#editProfileForm">Edit Profile</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="text-center  mt-md-4">
                                <h3 id="profileName">
                                    
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="fas fa-map-marker-alt">  </i> <span id="address"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-0">
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Posts</span>
                                        </div>
                                        <div>
                                            <span class="heading">10</span>
                                            <span class="description">Discussions</span>
                                        </div>
                                        <div>
                                            <span class="heading">89</span>
                                            <span class="description">Helpful</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <hr class="my-2">
                                        <p>Users Post will be available here inside cards.</p>
                                        <a href="" target="_blank">Show more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div id="editProfileForm" class="modal fade" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <div>
                            <label for="editPhoto">Upload Photo:</label>
                            <input id="editPhoto" type="text" class="form-control" placeholder="Photo" />
                        </div>

                        <div>
                            <label for="editName">Name:</label>
                            <input id="editName" type="text" class="form-control" placeholder="Name" />
                        </div>
                        <div>
                            <label for="editEmail">Email:</label>
                            <input id="editEmail" type="email" class="form-control" placeholder="Email" value="" />
                        </div>
                        <div>
                            <label for="editLocation">Location:</label>
                            <input id="editLocation" type="text" class="form-control" placeholder="Location" value="" />
                        </div>
                        <div>
                            <label for="editContact">Contact:</label>
                            <i class="far fa-address-card"></i>
                            <input id="editContact" type="text" class="form-control" placeholder="Contact" value="" />
                        </div>
                        <button id="profileUpdateButton" onclick="updateUser()" class="btn btn-primary">Update</button>

                    </div>
                </div>
            </div>
        </div>
    </div>





<input type="hidden" id="userId" name="custId" value=@User.Identity.GetUserId()>
<ul class="listitems1"></ul>
<div id="listitems">
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
    var id = $('#userId').val();
    console.log(id);
    $(document).ready(function () {

        putUrl = 'http://localhost:55407/api/Account/UpdateUser/' + String(id);
        console.log(putUrl);

        if (sessionStorage.getItem('accessToken') == null) {
            //window.location.href = "http://reviewbhai.somee.com/user/signin";
            window.location.href = "/user/signin";
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        $.ajax({
            //url: 'http://reviewbhai.somee.com/api/Account/GetAUser/'+ String(id),
            url: '/api/Account/GetAUser/' + String(id),
            method: 'GET',
            headers: {
                'Authorization': 'Bearer '
                    + sessionStorage.getItem("accessToken")
            },

            success: function (data) {

                document.getElementById("profileName").innerHTML = capitalizeFirstLetter(data.Name);
                document.getElementById("address").innerHTML = data.Location;


                document.getElementById("editName").value = data.Name;
                document.getElementById("editEmail").value = data.Email;
                document.getElementById("editLocation").value = data.Location;
                document.getElementById("editContact").value = data.Contact;
                document.getElementById("editPhoto").value = data.Photo;

                var valueName = document.getElementById("editName").value;
                console.log(valueName);

                if (data.Photo == null) {
                    document.getElementById("profilePhoto").innerHTML = '<img src="https://i.ibb.co/SfQG1X9/default.jpg"class="rounded-circle"/>';
                }
                else {
                    document.getElementById("profilePhoto").innerHTML = '<img src="' + data.Photo + '"class="rounded-circle"/>';
                }
            },
            error: function (jQXHR) {
                if (jQXHR.status == "401") {
                    $('#errorModal').modal('show');
                }
                else {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            },
           
        });
    });



    //$('profileUpdateButton').click(function () {

    function updateUser() {

        userId = $("#userId").val();
        var name = document.getElementById("editName").value;
        var email = document.getElementById("editEmail").value;
        var location = document.getElementById("editLocation").value;
        var contact = document.getElementById("editContact").value;
        var photo = document.getElementById("editPhoto").value;

        putUrl = 'http://localhost:55407/api/Account/UpdateUser/' + String(id);

        var userData = {
            'Name': name,
            'Location': location ,
            'Email': email ,
            'Contact': contact,
            'Photo' : photo
        }

        $.ajax({
            url: putUrl,
            type: 'PUT',
            contentType: "application/json",
            headers: {
                'Authorization': 'Bearer '
                    + sessionStorage.getItem("accessToken")
            },
            data: JSON.stringify(userData),           
            dataType:'Json',
            complete: function (a) {
                alert("Updated");
            },
        });

        //$.ajax({
        //    url: commentReactionUrl,
        //    type: "PUT",
        //    contentType: 'application/json',
        //    headers: {
        //        'Authorization': 'Bearer '
        //            + sessionStorage.getItem("accessToken")
        //    },
        //    data: JSON.stringify(commentReaction),
        //    dataType: "Json",
        //    complete: function (data) {
        //        getCommentsTotalReaction(commentId);
        //    }
        //});


    };

    //});
</script>




